@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
  height: 4000px;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  /* border: 2px solid red; */
  height: 70px;
}

.anchor-parent{
  display: flex;
  gap: 50px;
}

.anchor1,
.anchor2,
.anchor3,
.anchor4,
.anchor5{
  /* border: 2px solid green; */
  color: #18191f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.stand-alone a:nth-child(1) {
  border: 2px solid #6d46db;
  color: #fff;
  background-color: #6d46db;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-wrap: nowrap;
}

.nav-child {
  /* border: 2px solid red; */
  position: relative;
}

.nav-child img{
  /* border: 2px solid yellow; */
  position: absolute;
  top: 7px;
  left: 5px;
}

select {
  border: 2px solid #F7F7FB;
  background-color: #F7F7FB;
  border-radius: 20px;
  padding: 5px 27px;
}

.section-width {
  width: 1250px;
  margin: 0 auto;
}

/* First section */
.first-section {
  background-image: url(./images/first.png);
  height: 700px;
   /* padding-top: 70px; */
   /* margin-top: 70px; */
}

.flex-parent1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-child1 {
  /* border: 2px solid black; */
  padding-top: 80px;
}

.flex-child1:nth-child(1) {
  /* border: 2px solid blue; */
  width: 50%;
}

.flex-child1:nth-child(2) {
  /* border: 2px solid black; */
  width: 50%;
}

.flex-child1:nth-child(3) {
  position: absolute;
  top: 500px;
  left: 0;
  border: 2px solid green;
  width: 1000px;
}

.flex-child1 span:nth-child(1) {
  /* border: 2px solid black; */
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-shadow: -5px 5px 0 #4a0084;
  display: block;
}

.flex-child1 span:nth-child(2) {
  /* border: 2px solid black; */
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  /* text-shadow: 2px 2px; */
  line-height: 200%;
  display: block;
  margin: 40px 0;
}

.first-row-images {
  display: inline-block;
  display: flex;
  gap: 15px;
  padding: 30px 0;
}

.second-row-images {
  display: flex;
  gap: 40px;
}

.column-images {
  display: flex;
  gap: 20px;
  align-items: center;

}

.column-images span:nth-child(1) {
  /* border: 2px solid blue; */
  font-size: 9px;
  line-height: 150%;

}

.flex-child1 img:nth-child(1) {
  /* border: 2px solid green; */
  margin-top: -50px;
}


.alone {
  /* border: 2px solid red; */
  /* height: 100px; */
  margin-top: -7px;
  background-color: #6F06C0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Second section */
.second-section {
  /* border: 2px solid yellow; */
  margin-top: 36px;
  background-image: url(./images/second.png);
}

.header{
  padding-top: 20px;
  text-align: center;
}


.header p:nth-child(1){
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid green; */
  font-size: 49px;
  font-weight: 700;
  color: #490181;
  text-shadow: -5px 5px 0 #e9e7eb;
}

.header p:nth-child(2){
  /* border: 2px solid red; */
  font-size: 26px;
  font-weight: 300;
  color: #8f00ff;
  padding-top: 20px;
  padding-bottom: 40px;
}

.flex-parent2{
  display: flex;
  /* justify-content: space-between; */
}

.flex-grand-child1{
  /* border: 2px solid black; */
  width: 70%;
  margin-bottom: 70px;
  margin-left: 125px;
}

.flex-grand-child1:nth-child(1),
.flex-grand-child1:nth-child(2),
.flex-grand-child1:nth-child(3){
  border: 2px solid #490181;
  background-color: #490181;
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  border-radius: 20px;
  /* height: 125px; */
  box-shadow: 0 10px 0 #ffd74c;
}

.flex-grand-child1 h3:nth-child(1){
  /* border: 2px solid brown; */
  font-size: 21px;
  font-weight: 700;
}

.flex-grand-child1 p:nth-child(2){
  /* border: 2px solid yellow; */
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

/* .flex-child2:nth-child(2){
  border: 2px solid brown;
} */

.flex-child2 img:nth-child(1){
  /* border: 2px solid brown; */
  width: 480px;
}


/* Third section */
.third-section{
  border: 2px solid #F0F0FF;
  background-color: #F0F0FF;
}

.flex-parent3{
  display: flex;
  /* justify-content: space-between; */
  gap: 40px;
  padding: 50px 0;
}

.flex-child3 h3:nth-child(1){
  /* border: 2px solid red; */
  font-size: 50px;
  font-weight: 700;
  /* line-height: 150%; */
  color: #490181;
  text-shadow: 0 4px 0 #d2d2df;
}

.stop-text{
  padding: 30px 0;
}

.stop-text span{
  /* border: 2px solid red; */
  display: block;
}

.stop-text span:nth-child(1),
.stop-text span:nth-child(3){
  /* border: 2px solid red; */
  color: #490181;
  text-shadow: 0 5px 0 #d0d0dd;
  font-size: 24px;
}

.stop-text span:nth-child(2){
  /* border: 2px solid black; */
  color: #8F00FF;
  font-size: 24px;
  text-shadow: 0 5px 0 #cfcfdc;
}

.only-border{
  border: 2px solid #8F00FF;
  background-color: #8F00FF;
  color: #ffff;
  margin-right: 197px;
  padding: 8px 200px;
  /* text-wrap: nowrap; */
}

.flex-child3:nth-child(2) img{
  /* border: 2px solid brown; */
  width: 570px;
  height: 560px;
  border-radius: 20px;
  object-fit: cover;
}