@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 70px;
  height: 4000px;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  left: 0;
  width: 100%;
  z-index: 1000;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  /* border: 2px solid red; */
  height: 70px;
}

.anchor-parent{
  display: flex;
  gap: 50px;
}

.anchor1,
.anchor2,
.anchor3,
.anchor4,
.anchor5{
  /* border: 2px solid green; */
  color: #18191f;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.stand-alone a:nth-child(1) {
  border: 2px solid #6d46db;
  color: #fff;
  background-color: #6d46db;
  border-radius: 20px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  text-wrap: nowrap;
}

.nav-child {
  /* border: 2px solid red; */
  position: relative;
}

.nav-child img{
  /* border: 2px solid yellow; */
  position: absolute;
  top: 7px;
  left: 5px;
}

select {
  border: 2px solid #F7F7FB;
  background-color: #F7F7FB;
  border-radius: 20px;
  padding: 5px 27px;
}

.section-width {
  width: 1250px;
  margin: 0 auto;
}

/* First section */
.first-section {
  background-image: url(./images/first.png);
  height: 700px;
   /* padding-top: 70px; */
   /* margin-top: 70px; */
}

.flex-parent1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.flex-child1 {
  /* border: 2px solid black; */
  padding-top: 80px;
}

.flex-child1:nth-child(1) {
  /* border: 2px solid blue; */
  width: 50%;
}

.flex-child1:nth-child(2) {
  /* border: 2px solid black; */
  width: 50%;
}

.flex-child1:nth-child(3) {
  position: absolute;
  top: 500px;
  left: 0;
  border: 2px solid green;
  width: 1000px;
}

.flex-child1 span:nth-child(1) {
  /* border: 2px solid black; */
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  text-shadow: -5px 5px 0 #4a0084;
  display: block;
}

.flex-child1 span:nth-child(2) {
  /* border: 2px solid black; */
  font-size: 24px;
  font-weight: 200;
  color: #fff;
  /* text-shadow: 2px 2px; */
  line-height: 200%;
  display: block;
  margin: 40px 0;
}

.first-row-images {
  display: inline-block;
  display: flex;
  gap: 15px;
  padding: 30px 0;
}

.second-row-images {
  display: flex;
  gap: 40px;
}

.column-images {
  display: flex;
  gap: 20px;
  align-items: center;

}

.column-images span:nth-child(1) {
  /* border: 2px solid blue; */
  font-size: 9px;
  line-height: 150%;

}

.flex-child1 img:nth-child(1) {
  /* border: 2px solid green; */
  margin-top: -50px;
}


.alone {
  /* border: 2px solid red; */
  /* height: 100px; */
  margin-top: -7px;
  background-color: #6F06C0;
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

/* Second section */
.second-section {
  /* border: 2px solid yellow; */
  margin-top: 36px;
  background-image: url(./images/second.png);
}

.header{
  padding-top: 20px;
  text-align: center;
}


.header p:nth-child(1){
  font-family: "Montserrat", sans-serif;
  /* border: 2px solid green; */
  font-size: 49px;
  font-weight: 700;
  color: #490181;
  text-shadow: -5px 5px 0 #e9e7eb;
}

.header p:nth-child(2){
  /* border: 2px solid red; */
  font-size: 26px;
  font-weight: 300;
  color: #8f00ff;
  padding-top: 20px;
  padding-bottom: 40px;
}

.flex-parent2{
  display: flex;
  /* justify-content: space-between; */
}

.flex-grand-child1{
  /* border: 2px solid black; */
  width: 70%;
  margin-bottom: 70px;
  margin-left: 125px;
}

.flex-grand-child1:nth-child(1),
.flex-grand-child1:nth-child(2),
.flex-grand-child1:nth-child(3){
  border: 2px solid #490181;
  background-color: #490181;
  color: #fff;
  text-align: center;
  padding: 20px 40px;
  border-radius: 20px;
  /* height: 125px; */
  box-shadow: 0 10px 0 #ffd74c;
}

.flex-grand-child1 h3:nth-child(1){
  /* border: 2px solid brown; */
  font-size: 21px;
  font-weight: 700;
}

.flex-grand-child1 p:nth-child(2){
  /* border: 2px solid yellow; */
  font-size: 16px;
  font-weight: 400;
  padding: 10px 0;
}

/* .flex-child2:nth-child(2){
  border: 2px solid brown;
} */

.flex-child2 img:nth-child(1){
  /* border: 2px solid brown; */
  width: 480px;
}


/* Third section */
.third-section{
  border: 2px solid #F0F0FF;
  background-color: #F0F0FF;
}

.flex-parent3{
  display: flex;
  gap: 40px;
  align-items: center;
  /* justify-content: space-between; */
}

.flex-child3{
  /* border: 2px solid black; */
  /* This is where the padding is */
  padding: 100px 0;
}



.flex-child3:first-child h3:nth-child(1){
  /* border: 2px solid brown; */
  font-size: 50px;
  font-weight: 700;
  color: #490181;
  text-shadow: 0 5px #d8d8e5;
}

.flex-child3:first-child p:nth-child(2){
  /* border: 2px solid green; */
  font-size: 24px;
  font-weight: 400;
  color: #490181;
  text-shadow: 0 5px #d3d3e0;
  padding: 40px 0;
}

.odd-one-out{
  color: #8F23F4;
  padding-left: 5px;
}

.box{
  /* border: 2px solid #8F00FF; */
  background-color: #8F00FF;
  color: #FFFF;
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  padding: 13px 95px;
  margin: 30px 0;
  box-shadow: 8px 7px #FFB800;
}

.flex-child3:last-child img{
  /* border: 2px solid green; */
  border-radius: 50px;
  width: 570px;
  height: 560px;
  object-fit: cover;
}

/* FOURTH SECTION */
.fourth-section{
  background-image: url(./images/fourthsection.png);
}

.flex-parent4{
  display: flex;
  padding: 120px 0;
  gap: 30px;
  align-items: center;
}

/* .flex-child4{
  border: 2px solid black;
} */

.flex-child4:first-child img{
  /* border: 2px solid blue; */
  border-radius: 50px;
  width: 560px;
  height: 540px;
  object-fit: cover;
}

/* .flex-child4:last-child{
  border: 2px solid green;
} */

.flex-child4:last-child h3:nth-child(1){
  /* border: 2px solid purple; */
  font-size: 50px;
  font-weight: 700;
  color: #490181;
  text-align: right;
  text-shadow: 0 5px #d8d8e5;
}

.flex-child4:last-child p:nth-child(2){
  /* border: 2px solid purple; */
  font-size: 24px;
  color: #490181;
  text-align: right;
  padding: 40px 0;
  text-shadow: 0 5px #d3d3e0;
}

.second-box{
  /* border: 2px solid #8F00FF; */
  background-color: #8F00FF;
  color: #FFFF;
  font-size: 20px;
  font-weight: 600;
  /* width: fit-content; */
  width: 580px;
  text-wrap: nowrap;
  padding: 15px 0;
  text-align: center;
  margin: 30px 0;
  box-shadow: 8px 6px #FFB800;
}


/* EIGHT SECTION (Life happens section) */

.eight-section{
  background-image: url(./images/fourthsection.png);
}

.flex-parent8{
  display: flex;
  padding-top: 120px;
  gap: 30px;
  align-items: center;
  padding-bottom: 40px;
}



.flex-child8:first-child img{
  /* border: 2px solid blue; */
  border-radius: 50px;
  width: 560px;
  height: 540px;
  object-fit: cover;
}

.flex-child8:last-child h3:nth-child(1){
  /* border: 2px solid purple; */
  font-size: 50px;
  font-weight: 700;
  color: #490181;
  text-align: right;
  text-shadow: 0 5px #d8d8e5;
}

.flex-child8:last-child p:nth-child(2){
  /* border: 2px solid purple; */
  font-size: 24px;
  color: #490181;
  text-align: right;
  padding: 40px 0;
  text-shadow: 0 5px #d3d3e0;
}

.eight-box{
  /* border: 2px solid #8F00FF; */
  background-color: #8F00FF;
  color: #FFFF;
  font-size: 20px;
  font-weight: 600;
  /* width: fit-content; */
  width: 580px;
  text-wrap: nowrap;
  padding: 15px 0;
  text-align: center;
  margin: 30px 0;
  box-shadow: 8px 6px #FFB800;
}

/* Your money's safe space section */
.ninth-section{
  background-color: #F8F8FF;
  padding: 40px 0;
}

.ninth-section h2:nth-child(1){
  /* border: 2px solid red; */
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  color: #490181;
}

.image-div{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  margin: 40px 0;
  gap: 100px;
}

.image-div-child1{
  display: flex;
  align-items: center;
  gap: 5px;
}

.image-div-child1 p:first-child{
  /* border: 2px solid green; */
  font-family: "Montserrat", sans-serif ;
  font-size: 15px;
  font-weight: 700;
  color: #4D0683;
}

.three-column{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  gap: 60px;
  text-align: top;
  margin: 60px 0;
}

.three-column-child:nth-child(2){
  border-right: 2px solid #490181;
  border-left: 2px solid #490181;
  padding: 0 80px;
}

.three-column-child:nth-child(1) h3:nth-child(1),
.three-column-child:nth-child(2) h3:nth-child(1),
.three-column-child:nth-child(3) h3:nth-child(1){
  /* border: 2px solid red; */
  font-size: 24px;
  font-weight: 700;
  color: #4D0683;
  /* padding: 20px 0; */
  text-align: center;
}

.three-column-child:nth-child(1) p:nth-child(2),
.three-column-child:nth-child(2) p:nth-child(2),
.three-column-child:nth-child(3) p:nth-child(2){
  /* border: 2px solid blue; */
  font-size: 16px ;
  color: #490181;
  text-align: center;
  padding: 20px 0;
}

.three-column-child p:nth-child(2) span{
  /* border: 2px solid red; */
  display: inline-block;
}


/* Loved by 40 Million Users (tenth-section) */
.tenth-section{
  background-color: #E6C5FF;
  padding: 60px 0;
}

.the-whole-thing{
  /* border: 2px solid brown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.the-whole-thing p:nth-child(1){
  /* border: 2px solid yellow; */
  font-size: 40px;
  font-weight: 600;
  color: #4D0683;
  /* padding: 20px 0; */
}

.the-whole-thing p:nth-child(2){
  /* border: 2px solid brown; */
  font-size: 22px;
  color: #4D0683;
  padding: 15px 0;
}

.anna-flex{
  display: flex;
  border: 2px solid #ffff;
  background-color: #ffff;
  color: #000000;
  /* width: 500px; */
  align-items: center;
  /* justify-content: center; */
  margin: 20px 0;
  flex-direction: column;
}

